/*  § Buttons  */
/*  ---------  */

//  1. Standard Buttons
//  1. Button Groups
//  2. Box Shadows



//  1. Standard Buttons
//  -------------------
.btn,
button,
input[type="button"],
input[type="submit"] {
  margin: 0.25rem;
  display: inline-block;
  padding: 8px 20px;
  border: 1px solid $grey-2;
  border-radius: 3px;
  background-color: $grey-1;
  cursor: pointer;
  font-size: 80%;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  &:hover {
    background-color: $grey-2;
    border-color: $grey-2;
  }
  &.is-disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.btn--green {
  @extend .btn;
  background-color: $green-1;
  border-color: $green-1;
  color: $white;
  &:hover {
    border-color: $green-1;
    background-color: $green-1;
  }
}

.btn--large {
  @extend .btn;
  font-size: 1.15rem;
}

.btn--small {
  @extend .btn;
  padding: 5px 12px;
  font-size: 0.85rem;
}



//  2. Button Groups
//  ----------------
.btn-group {
  margin: 0.5rem 0;
  .btn {
    float: left;
    margin: 0;
    margin-left: -1px;
    border-radius: 0;
    &:hover { z-index: 5; }
  }
  *:first-of-type {
    border-radius: 3px 0 0 3px;
  }
  *:last-of-type {
    border-radius: 0 3px 3px 0;
  }
}

.btn-group--vertical {
  margin: 0.5rem;
  margin-left: -4px;
  display: inline-block;
  .btn {
    margin: 0;
    margin-top: -1px;
    display: block;
    border-radius: 0;
    text-align: center;
    &:hover { z-index: 5; }
  }
  *:first-of-type {
    border-radius: 3px 3px 0 0;
  }
  *:last-of-type {
    border-radius: 0 0 3px 3px;
  }
}