.hero, .masthead {
  background-color: $grey-1;
  min-height: 300px;
  padding: 80px 0 0 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  h1 {
    position: relative;
    top: 80px;
  } 
}

.hero--home {
  @extend .hero;
  min-height: 500px;
  background-image: url(/img/bg-00.png);
}