/*  ICONS  */
/*  -----  */

.caret {
  position: relative;
  top: -3px;
  margin-left: 0.5rem;
  display: inline-block;
  width: 0;
  height: 0;
  border-top:   5px solid $grey-2;
  border-right: 5px solid transparent;
  border-left:  5px solid transparent;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.close {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
}