.input {
  display: block;
  padding: 0.5rem;
  border: 1px solid $grey-1;
  border-radius: 3px;
  &:focus {
    border-color: $green-1;
  }
}

.input--text {
  @extend .input;
}

label, .input-label {
  color: $grey-2;
  font-size: 0.8rem;
  font-weight: 600;
}

.form-fields {
  list-style: none;
}