/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $sky;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  &:hover {
    color: $sky-alt;
  }
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 12px 18px;
  border: none;
  color: $white;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: $ocean-alt;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  &:hover,
  &:focus {
    color: $white;
    background-color: $sand;
    outline: 0;
  }
}