.card {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  background-color: $white;
  background-color: rgba($white,0.8);
  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    box-sizing: content-box; 
    border: 1px solid $sky;
    border-radius: 50%;
    color: $sky;
    text-align: center;
    line-height: 16px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    &:hover {
      background-color: $ocean;
      color: $white;
    }
  }
}

.card--current-conditions {
  @extend .card;
  .card__section {
    margin-bottom: 1rem;
    border-bottom: 1px solid $grey-1;
    .weather-icon {
      margin: 0 auto;
      display: block;
      width:  150px;
      height: 150px;
    }
    .weather-icon__forecast{
      margin: 0 auto;
      display: block;
/*
      width:  50px;
      height: 50px;
*/
    }
    .kilo {
      display: block;
      margin: 0;
      text-align: center;
    }
  }
  div:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
  }
}

#weather_forecast p {
  float: left;
  width: 25%;
  padding-right: 5px;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
  color: $ocean;
  img {
    max-width: 80%;
  }
  &:last-of-type {
    padding-right: 0;
  }
}

.card--about-us {
  @extend .card;
  margin: 0;
  margin-left: 4%;
  background-color: $grey-1;
}