.countdown {
  background-color: $grey-1;
}

.countdown--home {
  @extend .countdown;
  padding: 5rem 0 4rem 0;
  background-image: url(/img/bg-02.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  h3, .mega {
    color: $white;
    text-shadow: $shadow-1;
  }
}

.countdown--small {
  position: absolute;
  top: 70px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-weight: bold;
  background-color: $sand;
  color: $white;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    border-top: 35px solid $sand;
    border-right: 20px solid transparent;
    border-left: 0 solid transparent;
  }
}