.hero--landing {
  padding-top: 140px;
  background-color: $light-grey;
  background-image: url(/img/bg-01.jpg);
  .logo {
    margin: 0 auto;
    width: 535px;
    height: 400px;
  }
}

.welcome-banner {
  padding: 20px 0;
  text-align: center;
  background-color: $white;
  box-shadow: 0 1px 2px rgba($black,0.2), 0 1px 3px rgba($black,0.1);
  h1, small {
    margin: 0;
  }
  h1 {
    small {
      display: block;
      font-size: 20px;
      line-height: 20px;
      &:last-of-type {
        color: $sand;
        line-height: 50px;
      }
    }
  }
}

.race-info {
  padding: 40px 0 140px 0;
  background-image: url(/img/bg-02.jpg);
  background-size: cover;
  background-position: center center;
}

.race-details {
  color: $white;
  h3 {
    color: $white;
  }
}

.section__title {
  text-align: center;
}

.raceday-countdown {
  background-color: $sky;
  text-align: center;
  h2 {
    color: $sand;
    small {
      display: block;
      font-size: 20px;
      line-height: 20px;
    }
  }
}